.nav-espace{
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        margin: 2vh 0;
        text-decoration: none;
    }
}