.new-recipes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 400;
    letter-spacing: 1.2px;
  }
  .titleModified{
    color : $colorSecondary !important;
  }
  h2 {
    text-align: center;
    color: $colorThird;
  }
  input{
    background-color: #6c9e4f;
    border: none;
    padding: 5px 0;
    color: white;
  }
  select{
    background-color: #6c9e4f;
    border: none;
    color: white;
  }
  .input-recipes {
    width: 99%;
    .first-info {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      p {
        margin: 10px 10px;
        font-weight: 600;
      }
    }
    .choiceImg {
      width: 300px;
      margin: 2vh auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .generalInfo {
      height: 100px;
      max-width: 600px;
      width: 100%;
      display: flex;
      margin: 2vh auto;
      justify-content: space-around;
      .timing,
      .difficulty,
      .price {
        width: 30%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          padding: 5px 5px;
          margin: 0 10px;
          width: 30px;
          text-align: right;
        }
        select{
          padding: 5px 5px;
        }
      }
    }
    .ingredient {
      max-width: 800px;
      width: 100%;
      margin: 5vh auto;
      .container-add{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .new-ingredient{
          width: 100%;
          display: flex;
          flex-direction: column;
          .form-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            textarea {
              max-width: 300px;
              width: 100%;
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
    .recapTiming {
      max-width: 600px;
      width: 100%;
      margin: 4vh auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .block-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        .recapInfo {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          input{
            padding: 5px 4px;
            margin: 0 2px;
            width: 30px;
            text-align: right;
          }
          div {
            display: flex;
          }
        }
      }
    }
    .stepRecipe {
      max-width: 800px;
      width: 100%;
      margin: 5vh auto;
      .container-add{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .new-ingredient{
          width: 100%;
          display: flex;
          flex-direction: column;
          .form-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
              text-align: center;
            }
            textarea {
              max-width: 300px;
              width: 100%;
              margin: 0.5rem 0;
            }
          }
        }
      }
    }
  }
  .validateRecipe {
    margin: 2vh auto;
    padding: 10px 16px;
    background-color: #a4330d;
    border: 1px solid white;
    color: white;
    letter-spacing: 1.2px;
    border-radius: 10px;
  }
  .group-btn {
    display: flex;
    align-items: center;
    width: 400px;
  }
}

@media screen and (max-width: 765px) {
  .first-info{
    flex-direction: column;
  }
  .generalInfo {
    flex-direction: column;
    height: auto !important;
    align-items: center;
    justify-content: center;
    .timing,
    .difficulty,
    .price {
      flex-direction: column;
      align-items: center;
    }
    .timing div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }
  .block-info{
    height: auto !important;
    flex-direction: column !important;
    align-items: center;
  }
}

.add-element{
  margin: 2px auto;
  background-color: #6c9e4f;
  padding: 8px 16px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-size: 500;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.add-element:active{
  background-color: #6c9e4f65;
  transform: scale(0.9);
}

.supp-element{
  margin: 2px auto;
  background-color: #a4330d;
  padding: 8px 16px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1.2px;
  font-size: 500;
  border-color: transparent;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.supp-element:active{
  background-color: #a4330d63;
  transform: scale(0.9);
}
.alertAdd{
  text-transform: none !important;
  font-weight: 600;
}
.container-recipeAdd{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .new-ingredient{
    min-width: 120px;
    width: 80% !important;
    border: 2px solid #6c9e4f;
    padding: 2px 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2vh 5px !important;
    p{
      color : $colorPrimary;
      text-align: justify;
    }
  }
}

.numberPersonne{
  max-width: 800px;
  width: 100%;
  margin: 5vh auto;
  display:flex;
  justify-content: center;
  align-items:center;
    p{
      text-transform: none;
      font-weight: 600;
    }
    input{
      width :20px;
      margin: 0 3px;
      border: none;
      background-color: #6c9e4f;
      padding: 5px;
      text-align: center;
    }
  }