.new-recipes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: capitalize;
  }
  .titleModified{
    color : $colorSecondary !important;
  }
  h2 {
    text-align: center;
    color: $colorThird;
  }
  .input-recipes {
    width: 99%;
    .first-info {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      p {
        margin: 10px 10px;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    .choiceImg {
      width: 300px;
      margin: 2vh auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .generalInfo {
      height: 100px;
      width: 100%;
      display: flex;
      margin: 2vh auto;
      justify-content: space-around;

      .timing,
      .difficulty,
      .price {
        width: 30%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
          padding: 0;
          margin: 0;
        }
      }
    }
    .ingredient {
      max-width: 600px;
      margin: 5vh auto;
      width: 100%;
      margin: 2vh auto;
    }
    .recapTiming {
      width: 95%;
      margin: 4vh auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      .block-info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100%;
        .recapInfo {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          div {
            display: flex;
          }
        }
      }
    }
    .stepRecipe {
      width: 600px;
      margin: 5vh auto;
    }
  }
  .validateRecipe {
    margin: 2vh auto;
  }
  .group-btn {
    display: flex;
    align-items: center;
    width: 400px;
  }
}

@media screen and (max-width: 765px) {
  .first-info{
    flex-direction: column;
  }
  .generalInfo {
    flex-direction: column;
    height: auto !important;
    align-items: center;
    justify-content: center;
    .timing,
    .difficulty,
    .price {
      flex-direction: column;
      align-items: center;
    }
    .timing div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

  }
  .block-info{
    height: auto !important;
    flex-direction: column !important;
    align-items: center;
  }
}
