.home-general {
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
    color : $colorThird;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }
  .top-home {
    width: 100%;
    display: flex;
    margin: 2vh 0;
    justify-content: space-evenly;
    .container-bubbleIdea {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .bubbleIdea {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: orange;
      p {
        padding: 0;
        margin: 0;
        text-align: center;
      }
    }
  }
  .all-recipe{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
}
.hero{
  width: 100%;
  height: 90vh;
  position: relative;
  background-blend-mode: screen;
}
.intro-recipe{
  width: 100%;
  margin: 2vh auto;
  border: 1px solid red;
  display: flex;
}
.title{
  position: absolute;
  left: 40%;
  top: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-family: Open Sans ;
}
