.Navbar {
  width: 100%;
  height: 90px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  a {
    text-decoration: none;
  }
}

#link-burger-inscription{
  display: none;
}
.fixed-navbar {
 
  top: 0px;
}
.navbar-element-menu {
  height: 100%;
width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-element-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  p{
    margin: 0 !important;
    padding: 0 !important;
  }
  .logoWeb {
    font-size: 2rem;
    color: #a4330d;
    letter-spacing: 1.4px;
    font-weight: 600;
  }
  .maurituisFlag{
    width: 50px;
    margin: 0 10px;
  }
  .searchBar {
    width: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    input {
      height: 20px;
      width: 100%;
      border-color: #a4330d;
      color: #a4330d;
    }
    .icon-navbar {
      width: 20px;
      padding-right: 15px;
      cursor: pointer;
    }
  }
}
.navbar-element-account {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  a {
    color: $colorThird;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
}
.block-input-menu {
  display: flex;
  flex-wrap: wrap;
  width: 25px;
  justify-content: space-between;
  cursor: pointer;
}

.block-menu {
  width: 10px;
  height: 10px;
  margin: 1px;
  background: #6c9e4f;
}
@media screen and (max-width :960px ){
  .Navbar{
    justify-content: space-between;
  }
  .navbar-element-menu{
    margin: 0 0px;
    width: auto;
  }
  .navbar-element-account{
    display: none;
  }
  .navbar-element-search{
    width: auto;
  }
  #link-burger-inscription{
    display: block !important;
  }
}