
.onlyRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.nameRecipe {
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: $colorSecondary;
}
.UserRecipe{
  color: $colorThird;
  font-weight: bold;
}
.Imagerecette {
  max-width: 600px;
  max-height: 400px;
  width: 90%;
  object-fit: cover;
  margin: 3vh auto 5vh auto;
}
.Info-Recipe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.introInfo {
  display: flex;
  img {
    width: 20px;
    margin-right: 10px;
  }
}
.infoDuration {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1vh 0;
  height: 130px;
  background-color: $colorSecondary;
  box-shadow: 1px 1px 10px $colorSecondaryLight;
  p {
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: white;
  }
}
.info-ingredients , .info-etapes {
  max-width: 1400px;
  width: 95%;
  margin: 2vh auto;
  li{
    line-height: 1.5rem;
    letter-spacing: 1.3px;
  }
}
